.tweet {
  background: white;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1 1 auto;
  color: rgba(0, 0, 0, 0.8);
  border-bottom: 1px solid var(--grayLight);

  &:hover {
    background: #ececec70;
  }

  .tweet__wrapper {
    cursor: pointer;
  }
}

/* 리트윗 */
.tweet__reTweet {
  display: flex;
  align-items: center;
  margin: 8px 0 -8px 0;
  height: 16px;
  font-weight: 500;
  color: var(--darkBlue);
}

.tweet__reTweet .tweet__reTweetIcon {
  width: 64px;
  display: flex;
  justify-content: flex-end;
  margin-right: 12px;
}

.tweet__reTweet svg {
  width: 16px;
  height: 16px;
  transform: rotate(90deg);
  display: flex;
  align-items: center;
  justify-content: center;
}

.tweet__reTweet p {
  font-size: 12px;
}

/* 리플 */
.tweet__reply {
  display: none;
  margin: 8px 0 -8px 0;
  padding: 0 16px;
  align-items: center;
  height: 16px;
  color: var(--grayDeepDark);
}

.select {
  display: flex;
  transition: all 0.2s;
}

.tweet__reply .tweet__replyText {
  display: flex;
}

.tweet__reply .tweet__replyText p {
  font-size: 12px;
}

.tweet__reply .tweet__replyText p:first-child {
  font-weight: 700;
  color: var(--primary);
  cursor: pointer;
}

.tweet__reply .tweet__replyText p:first-child:hover {
  text-decoration: underline;
}

/* 트윗 내용 */
.tweet__container {
  width: 100%;
  display: flex;
  padding: 16px 16px 0;
}

.tweet__profile {
  margin-right: 12px;
  height: 100%;
}

/* 프로필 이미지 */
.profile__image {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  object-fit: contain;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  cursor: pointer;
  transition: all 0.2s;
}

.profile__image:hover {
  filter: brightness(90%);
}

.userInfo {
  width: 100%;
  word-wrap: break-word;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.userInfo .userInfo__name {
  height: 44px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* justify-content: space-between; */
  line-height: 20px;
}

.userInfo .userInfo__name .userInfo__one {
  display: flex;
  align-items: center;
}

.userInfo .userInfo__name .userInfo__one a {
  font-size: 14px;
  font-weight: bold;
  margin-right: 10px;
}

.userInfo .userInfo__name .userInfo__one a:hover {
  text-decoration: underline;
  text-underline-position: under;
}

.userInfo .userInfo__name .userInfo__two {
  font-size: 14px;
  display: flex;
  color: var(--grayDeepDark);
  align-items: baseline;
}

.tweet__createdAt {
  font-size: 12px;
}

/* 컨텐츠 */
.tweet__content {
  display: block;
  // cursor: pointer;

  &.detailTweet {
    cursor: auto;
  }

  .tweet__text {
    /* 텍스트 */
    h4 {
      margin-bottom: 10px;
    }

    /* 해쉬태그 */
    &__hashtags {
      padding-top: 5px;

      &.focus input::placeholder {
        opacity: 0.6;
        transition: all 0.2s;
      }

      &_outputs {
        display: flex;
        flex-wrap: wrap;
        gap: 8px 1px;
        align-items: center;
        margin-bottom: 8px;
      }

      &_tag {
        font-size: 12px;
        border: 1px solid var(--primary);
        color: var(--primary);
        border-radius: 10px;
        padding: 4px 8px;
        margin-right: 6px;
        line-height: 12px;
        cursor: pointer;

        &:hover,
        &:focus {
          color: var(--primary);
          border: 1px solid var(--primary);
        }
      }

      &_input {
        font-size: 14px;
        padding-bottom: 5px;
        padding-left: 5px;
        color: var(--primary);
        width: 100%;

        &::placeholder {
          color: var(--secondary);
        }

        &:focus {
          color: var(--primary);
        }
      }
    }
  }
}

/* 텍스트 */
.tweet__text {
  font-size: 14px;
  padding: 0 16px;
  margin: 12px 0;
  width: 100%;
  height: auto;
  white-space: pre-wrap;
  line-height: 24px;
}

/* 이미지 */
.tweet__image {
  // cursor: pointer;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 16px;
}

.tweet__image img {
  width: 100%;
  height: 100%;
}

/* 수정 창 */
.tweet__editIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 20px;
  position: relative;
  transition: all 0.2s;
}

.horizontal__bg {
  border-radius: 50%;
  transition: all 0.2s;
  cursor: pointer;
  background: transparent;
}

.tweet__editIcon:hover .horizontal__bg {
  display: block;
  position: absolute;
  width: 34px;
  height: 34px;
  background-color: rgba(51, 114, 88, 0.1);
}

.tweet__editIcon svg {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

/* 트윗 액션 바 ==== start */
.tweet .tweet__actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
  overflow: hidden;
  /* padding: 0 16px 16px; */
  margin-top: -16px;
  padding: 16px;
}

/* 트윗 액션 아이콘 */
.tweet .tweet__actions .actionBox {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.tweet .tweet__actions .actionBox .actions__icon {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tweet .tweet__actions .actionBox .actions__icon::after {
  display: block;
  content: "";
  width: 34px;
  height: 34px;
  border-radius: 50%;
  position: absolute;
  z-index: -1;
  transition: all 0.2s;
}

.tweet .tweet__actions .actionBox:hover .actions__icon::after {
  background-color: #7ad3ae34;
}

.tweet .tweet__actions .actionBox .actions__icon svg {
  width: 16px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #6f7c79c7;
}

/* 댓글 */
.tweet .tweet__actions .actionBox.reply .actions__icon svg {
}

.tweet .tweet__actions .actionBox.reply:hover .actions__icon svg {
  color: var(--primary);
}

/* 좋아요 */
.tweet .tweet__actions .actionBox:nth-child(3):hover,
.tweet .tweet__actions .actionBox:nth-child(3):hover .actions__icon svg,
.tweet .tweet__actions .actionBox:nth-child(3).like .actions__icon svg,
.tweet .tweet__actions .actionBox:nth-child(3).like:hover {
  color: #f9183d;
}

.tweet .tweet__actions .actionBox:nth-child(3):hover .actions__icon::after {
  background-color: #f918801a;
}

/* 트윗 액션 숫자 */
.tweet .tweet__actions .actionBox .actions__text {
  max-width: 70px;
  white-space: nowrap;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  text-overflow: ellipsis;
}

.tweet .tweet__actions .actionBox p {
  padding: 0 12px;
  font-size: 12px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--darkBlue);
}

/* 좋아요 숫자 */
.tweet .tweet__actions .actionBox.like p {
  color: #f9183d;
}
/* 트윗 액션 바 ==== end */

/* 디테일 액션 바 ==== start */
.tweet .tweet__actions_detail {
  max-width: 100%;
  overflow: hidden;
  padding: 0 16px 0;
}

.tweet .tweet__actions_detail .actionBox {
  display: flex;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
  border-top: 1px solid var(--grayLight);
  // border-bottom: 1px solid var(--grayLight);
  height: 48px;
}

/* 디테일 액션 아이콘 */
.tweet .tweet__actions_detail .actionBox div .actions__icon {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tweet .tweet__actions_detail .actionBox div .actions__icon::after {
  display: block;
  content: "";
  width: 38.5px;
  height: 38.5px;
  border-radius: 50%;
  position: absolute;
  background: transparent;
  transition: all 0.2s;
}

.tweet .tweet__actions_detail .actionBox div:hover .actions__icon::after {
  background-color: #7ad3ae34;
}

.tweet .tweet__actions_detail .actionBox .actions__icon svg {
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #6f7c79c7;
}

/* 댓글 */
.tweet .tweet__actions_detail .actionBox .reply:hover .actions__icon svg {
  color: var(--primary);
}

/* 좋아요 */
.tweet .tweet__actions_detail .actionBox .likeBox:hover .actions__icon svg,
.tweet .tweet__actions_detail .actionBox .like .actions__icon svg {
  color: #f9183d;
}

.tweet .tweet__actions_detail .actionBox .likeBox:hover .actions__icon::after {
  background-color: #f918801a;
}

/* 북마크 */
.tweet .tweet__actions_detail .actionBox .bookmark,
.tweet .tweet__actions_detail .actionBox .bookmark .actions__icon svg,
.tweet .tweet__actions_detail .actionBox .bookmarkBox:hover .actions__icon svg {
  color: var(--primary);
}

/* 리트윗 */
.tweet .tweet__actions_detail .actionBox div:nth-child(2) .actions__icon svg {
  transform: rotate(90deg);
}

.tweet .tweet__actions_detail .actionBox .retweetBox:hover .actions__icon svg,
.tweet .tweet__actions_detail .actionBox .retweet .actions__icon svg {
  color: #1d9bf0;
}
.tweet
  .tweet__actions_detail
  .actionBox
  .retweetBox:hover
  .actions__icon::after {
  background: #1d9bf01a;
}

/* 디테일 액션 숫자 */
.tweet .tweet__actions_detail .actions__text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: flex;
  align-items: center;
  height: 53px;
  padding: 16px 0px;
  border-top: 1px solid var(--grayLight);
}

.tweet .tweet__actions_detail .actions__text span {
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  letter-spacing: -0.5px;
}

.tweet .tweet__actions_detail .actions__text span:first-child {
  font-weight: 700;
  color: #0f1419;
}

.tweet .tweet__actions_detail .actions__text span:last-child {
  margin-right: 20px;
  color: var(--darkBlue);
}
/* 디테일 액션 바 ==== end */
