// @import "./utils.scss";
@import "https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css";

@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding:wght@400;700&family=Noto+Sans+KR:wght@100;300;400;500;700&family=Noto+Sans:wght@100;300;400;500;700&display=swap");

:root {
  --primary: #4da0eb;
  --secondary: #70bcff;
  --tertiary: #a6d0f5;
  --quaternary: #bcd0eb;
  --active: #4472c4;
  --disabled: #4da1eb80;
  --darkBlue: #2e608d;

  --gray: #dddddd;
  --grayDarkLight: #bbbaba;
  --grayDark: #9e9e9e;
  --grayDeepDark: #586572;

  --lightGrayHover: #e6e6e6;
  --grayLight: #ebebeb;
  --grayPale: #f6f6f6;
  --grayLightSky: #edf5fd;
  --grayLightSkyHover: #dbecfb;

  --followPrimary: #173046;
  --followSecondary: #1e405e;

  --red: #f9183d;
}

// 전체 레이아웃
* {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif !important;
  font-size: 15px;
}

html {
  scroll-behavior: smooth;
}

input {
  all: unset;
  box-sizing: border-box;
  appearance: none;
}

body {
  overflow-x: hidden;
  color: #0f1419;
  min-height: 100vh;
  min-height: -webkit-fill-available;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  padding: 0;
  margin: 0;
  border: none;
  background: none;
  @extend .button;
}

form {
  width: 100%;
}

/* 버튼 */
.button {
  padding: 0.2rem 0.8rem;
  border-radius: 999px;
  font-size: 12px;
  line-height: 1.25rem;
  font-weight: 600;
  border: none;
  cursor: pointer;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);

  &:disabled {
    opacity: 0.5;
  }
}

/* 스크롤바 */
::-webkit-scrollbar {
  width: auto;
}

::-webkit-scrollbar-thumb {
  background: var(--primary);
  border-radius: 10px;
  background-clip: padding-box;
  border: 5px solid transparent;
}

::-webkit-scrollbar-track {
  background: #42806613;
}

/* 컴포넌트 */
.container {
  width: 100vw;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  box-sizing: border-box;
}

.center__container {
  flex: 1 1 auto;
  max-width: 600px;
  /* width: 100%; */
  border-right: 1px solid var(--grayLight);
  padding-bottom: 57px;
}

@media screen and (max-width: 705px) {
  .center__container {
    border: 0;
  }
}

/* 탭 메뉴 (카테고리) */
.menu_container {
  position: relative;

  .main__container {
    position: sticky;
    top: 0;
    z-index: 3;
    width: 100%;
    height: 60px;
    // border-bottom: 1px solid var(--grayLight);
    background-color: rgba(255, 255, 255, 0.85);
    backdrop-filter: blur(12px);

    .main__category {
      padding: 0 16px;
    }
  }
}

.main__container .categoryList {
  display: flex;
  width: 100%;
  height: 53px;
  user-select: none;
  background: white;
  border-bottom: 1px solid var(--grayLight);
}

/* 정보 없을 때 */
.noInfoBox {
  word-break: keep-all;

  .noInfo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    margin: 32px auto;
    // padding: 0 32px;
    text-align: center;
    letter-spacing: -0.5px;

    img {
      margin: 16px 0 20px;
      width: 300px;
    }

    h2 {
      font-size: 31px;
      font-weight: 700;
      line-height: 40px;
      margin-bottom: 12px;
    }

    p {
      font-size: 15px;
      line-height: 20px;
      color: #536471;
    }
  }
}

@media screen and (max-width: 687px) {
  .noInfoBox {
    .noInfo {
      width: 100%;

      img {
        margin: 10px 0 15px;
      }

      h2 {
        font-size: 26px;
        line-height: 35px;
      }
    }
  }
}
