// @import "./utils.scss";
@import "https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css";

@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding:wght@400;700&family=Noto+Sans+KR:wght@100;300;400;500;700&family=Noto+Sans:wght@100;300;400;500;700&display=swap");

:root {
  --primary: #4da0eb;
  --secondary: #70bcff;
  --tertiary: #a6d0f5;
  --quaternary: #bcd0eb;
  --active: #4472c4;
  --disabled: #4da1eb80;
  --darkBlue: #536171;

  --gray: #dddddd;
  --grayDarkLight: #bbbaba;
  --grayDark: #9e9e9e;
  --grayDeepDark: #586572;

  --lightGrayHover: #e6e6e6;
  --grayLight: #ebebeb;
  --grayPale: #f6f6f6;
  --grayLightSky: rgba(90, 173, 212, 0.12);

  --followPrimary: #3b5d90;
  --followSecondary: #3b5d90;

  --red: #f9183d;
}

// 전체 레이아웃
* {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif !important;
  font-size: 15px;
}

html {
  scroll-behavior: smooth;
}

input {
  all: unset;
  box-sizing: border-box;
  appearance: none;
}

body {
  overflow-x: hidden;
  color: #0f1419;
  min-height: 100vh;
  min-height: -webkit-fill-available;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  padding: 0;
  margin: 0;
  border: none;
  background: none;
  @extend .button;
}

form {
  width: 100%;
}

/* 버튼 */
.button {
  padding: 0.2rem 0.8rem;
  border-radius: 999px;
  font-size: 12px;
  line-height: 1.25rem;
  font-weight: 600;
  border: none;
  cursor: pointer;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);

  &:disabled {
    opacity: 0.5;
  }
}

/* 스크롤바 */
::-webkit-scrollbar {
  width: auto;
}

::-webkit-scrollbar-thumb {
  background: var(--primary);
  border-radius: 10px;
  background-clip: padding-box;
  border: 5px solid transparent;
}

::-webkit-scrollbar-track {
  background: #42806613;
}

/* 컴포넌트 */
.container {
  width: 100vw;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  box-sizing: border-box;
}

.center__container {
  flex: 1 1 auto;
  max-width: 600px;
  /* width: 100%; */
  border-right: 1px solid var(--grayLight);
  padding-bottom: 57px;
}

.render__loading {
  width: 100vw;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  .render__logo {
    color: var(--tertiary);
    font-size: 80px;
  }
}

@media screen and (max-width: 705px) {
  .center__container {
    border: 0;
  }
}

/* 탭 메뉴 (카테고리) */
.menu_container {
  position: relative;

  .main__container {
    position: sticky;
    top: 0;
    z-index: 3;
    width: 100%;
    height: 60px;
    border-bottom: 1px solid #ebebeb;
    background-color: rgba(255, 255, 255, 0.85);
    backdrop-filter: blur(12px);

    .main__category {
      padding: 0 16px;
    }
  }
}

.main__container .categoryList {
  display: flex;
  width: 100%;
  height: 53px;
  user-select: none;
  background: white;
  border-bottom: 1px solid var(--grayLight);
}

/* 탭 메뉴 */ // 아래 삭제해도 됨!!!!
/* 카테고리 버튼 */
.tab_container {
  display: inline-block;
  width: 100%;
  height: 100%;
  font-size: 15px;
}

.tab_container .btnBox {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
  cursor: pointer;
  position: relative;
}

.tab_container .btnBox:hover {
  background: var(--grayLight);
}

.tab_container .btnBox p {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  word-break: keep-all;
  padding: 0 6px;
  line-height: 18px;
}

.tab_container .selectedBox {
  font-weight: 700;
}

.tab_container .selectedBox::after {
  position: absolute;
  width: 50%;
  height: 4px;
  border-radius: 9999px;
  bottom: 0;
  content: "";
  display: block;
  background: var(--primary);
}

@media screen and (max-width: 500px) {
  .tab_container.sizeContainer {
    width: auto;
    flex: 1 1 auto;
  }

  .tab_container .btnBox p {
    font-size: 14px;
  }

  .tab_container.sizeContainer .selectedBox::after {
    width: 50%;
  }
}

/* 홈 카테고리 */
.main__category {
  position: sticky;
  top: 0px;
  z-index: 3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 60px;
  font-size: 20px;
  font-weight: bold;
  border-bottom: 1px solid var(--grayLight);
  background-color: rgba(255, 255, 255, 0.85);
  backdrop-filter: blur(12px);
  padding: 0 16px;

  h2 {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .change__emoji {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;

    &::after {
      display: block;
      content: "";
      position: absolute;
      width: 34px;
      height: 34px;
      border-radius: 50%;
      z-index: -1;
      transition: all 0.2s;
    }

    svg {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 20px;
      height: 20px;
    }

    &:hover::after {
      background: var(--grayLight);
    }
  }

  // .effect_icon {
  //   display: flex;
  //   align-items: center;
  //   justify-content: center;
  //   /* cursor: pointer; */
  //   position: relative;

  //   &::after {
  //     display: block;
  //     content: "";
  //     position: absolute;
  //     width: 34px;
  //     height: 34px;
  //     border-radius: 50%;
  //     z-index: -1;
  //     transition: all 0.2s;
  //   }

  //   svg {
  //     display: flex;
  //     align-items: center;
  //     justify-content: center;
  //     width: 20px;
  //     height: 20px;
  //   }

  //   &:hover {
  //     &::after {
  //       background: var(--grayLight);
  //     }
  //   }
  // }
}

/* 나머지 카테고리 (상단 닉네임) */
.minor__category {
  position: sticky;
  top: 0px;
  z-index: 3;
  display: flex;
  align-items: center;
  width: 100%;
  height: 60px;
  font-size: 20px;
  font-weight: bold;
  border-bottom: 1px solid var(--grayLight);
  background-color: rgba(255, 255, 255, 0.85);
  backdrop-filter: blur(12px);
  padding: 0 16px;

  h2 {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /* 이모지 */
  .minor__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
    margin-right: 30px;

    &:last-child {
      margin-left: auto;
      margin-right: 0;
    }

    &::after {
      display: block;
      content: "";
      position: absolute;
      width: 34px;
      height: 34px;
      border-radius: 50%;
      z-index: -1;
      transition: all 0.2s;
    }

    svg {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 20px;
      height: 20px;
    }

    &:hover {
      &::after {
        background: #ececec;
      }
    }
  }

  .userInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 8px 0;
    gap: 6px;
    min-width: 200px;
    overflow: hidden;

    p {
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    .category__name {
      font-size: 20px;
      font-weight: 700;
    }

    .category__sub {
      /* margin-top: 4px; */
      font-size: 13px;
      font-weight: 400;
      color: var(--disabled);
    }
  }

  /* 프로필 카테고리 아이콘 */
  .minor__iconExit {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
    margin-right: 30px;

    &:last-child {
      margin-left: auto;
      margin-right: 0;
    }

    &::after {
      display: block;
      content: "";
      position: absolute;
      width: 34px;
      height: 34px;
      border-radius: 50%;
      z-index: -1;
      transition: all 0.2s;
    }

    svg {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 22px;
      height: 22px;
    }

    &:hover {
      &::after {
        background: #ececec;
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .main__category h2 {
    font-size: 17px;
  }

  .minor__category .userInfo .category__name {
    font-size: 17px;
  }
}

/* 정보 없을 때 */
.noInfoBox {
  word-break: keep-all;

  .noInfo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 400px;
    margin: 32px auto;
    // padding: 0 32px;
    text-align: center;
    letter-spacing: -0.5px;

    img {
      margin: 16px 0 20px;
      width: 300px;
    }

    h2 {
      font-size: 31px;
      font-weight: 700;
      line-height: 40px;
      margin-bottom: 12px;
    }

    p {
      font-size: 15px;
      line-height: 20px;
      color: #536471;
    }
  }
}

@media screen and (max-width: 687px) {
  .noInfoBox {
    .noInfo {
      width: 100%;

      img {
        margin: 10px 0 15px;
      }

      h2 {
        font-size: 26px;
        line-height: 35px;
      }
    }
  }
}

.loader {
  width: 48px;
  height: 48px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border: 5px solid var(--primary);
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  z-index: 999999;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

//
//
//
//
//
//
/*이하 오리지널 삭제필요*/
//

// home 레이아웃
.home {
  &__search-div {
    display: flex;
    justify-content: center;
  }

  &__search {
    @extend .tweet-form__input;
    background-color: var(--backgroundLight);
    border-radius: 20px;
    margin-bottom: 20px;
    padding: 12px;
    width: 90% !important;
    font-size: 15px;
    font-weight: 600;

    &:focus {
      border: 1px solid var(--primary);
      background-color: var(--activeBg);
    }
  }

  &__top {
  }

  &__title {
    background-color: transparent;
    width: 90%;
    padding: 16px;
    font-weight: 700;
    font-size: 20px;
  }

  &__tabs {
    background-color: transparent;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  &__tab {
    background-color: transparent;
    text-align: center;
    font-weight: 500;
    padding: 16px;
    cursor: pointer;

    &--active {
      font-weight: 700;
      border-bottom: 2px solid var(--activegrayLight);
    }

    &:hover,
    &:focus {
      background-color: var(--activeBg);
    }
  }
}

.tweet-form {
  &__profile {
    padding: 16px;

    .tweet-form__input {
      border-bottom: 1px solid var(--gray);
      padding: 8px 2px;
      font-size: 16px;
      width: 100%;
      margin-bottom: 20px;

      &:active,
      &:focus {
        border-bottom: 1px solid white;
      }
    }
  }

  &__image-area {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  &__attachment {
    display: flex;
    align-items: end;
    gap: 16px;
  }

  &__clear-btn {
    @extend .button;
    padding: 0.2rem 0.8rem;
    background-color: var(--red);

    &:hover,
    &:focus {
      background-color: var(--redDark);
    }
  }

  &__input {
    font-family: var(--font);
    padding: 8px;
    border: none;
    resize: none;
    outline: none;
    width: calc(100% - 32px);
  }

  &__hashtags {
    padding: 16px;
    // border-bottom: 1px solid var(--grayLight);

    &-outputs {
      display: flex;
      flex-wrap: wrap;
      gap: 8px 1px;
      align-items: center;
      margin-bottom: 8px;
    }

    &-tag {
      font-size: 12px;
      border: 1px solid var(--primary);
      color: var(--primary);
      border-radius: 10px;
      padding: 4px 8px;
      margin-right: 6px;
      line-height: 12px;
      cursor: pointer;

      &:hover,
      &:focus {
        color: var(--activegrayLight);
        border: 1px solid var(--activegrayLight);
      }
    }
  }

  &__textarea {
    // font-family: --font;
    min-height: 120px;
    display: block;
    width: calc(100% - 32px);
    padding: 16px;
    border: none;
    resize: none;
    outline: none;
    font-size: 20px;
    border-bottom: 1px solid var(--grayLight);

    &::placeholder {
      // font-family: --font;
      color: var(--grayText);
      font-size: 20px;
    }
  }

  &__submit-area {
    display: flex;
    padding: 0.75rem 1rem;
    justify-content: space-between;
    // border-bottom: 1px solid var(--grayLight);
    align-items: center;

    .tweet-form__file {
      display: flex;
      padding: 0 1rem;
      flex-direction: column;
      justify-content: center;
      cursor: pointer;
    }

    .hidden {
      display: none;
    }
  }

  &__submit-btn {
    @extend .button;
    padding: 0.5rem 1rem;
    background-color: var(--primary);
  }
}

// Tweet 레이아웃
.tweet {
  &__image-div {
    padding: 16px;
  }

  &__header {
    button {
      border: none;
      padding: 16px;
    }

    &-btn {
      width: 20px;
      height: 20px;
      cursor: pointer;
    }
  }

  &__no-tweets {
    padding: 16px;

    .tweet__text {
      font-size: 14px;
      border: 1px solid var(--gray);
      padding: 16px;
      border-radius: 4px;
    }
  }

  padding-bottom: 52px;

  &__flex {
    display: flex;
    gap: 4px;
    align-items: center;

    &--between {
      display: flex;
      width: 100%;
      justify-content: space-between;
    }
  }

  &__follow-btn {
    @extend .button;
    background-color: var(--gray);

    &:hover {
      background-color: var(--primary);
      color: white;
    }
  }

  &__following-btn {
    display: inline-block;
    @extend .button;
    background-color: white;
    border: 1px solid var(--tertiary);
    color: var(--primary);

    &:hover {
      background-color: var(--grayLightSky);
      color: var(--primary);
    }
  }

  &__email,
  &__createdAt {
    font-size: 12px;
    color: var(--grayText);
  }

  &__box {
    padding: 10px 0px;
    border-bottom: 1px solid var(--grayLight);

    a {
      text-decoration: none;
    }

    &-profile {
      text-decoration: none;
      padding: 0px 10px;

      &-img,
      &-icon {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin-right: 10px;
      }
    }

    &-content {
      display: block;
      font-weight: 500;
      padding: 16px 4px;
    }

    &-footer {
      padding: 0 16px;
      margin-top: 10px;
      font-size: 14px;
      display: flex;
      gap: 8px;
      flex-direction: row-reverse;

      button {
        @extend .button;

        &.tweet__delete {
          background-color: var(--red);

          &:hover,
          &:focus {
            background-color: var(--redDark);
          }
        }

        &.tweet__edit {
          background-color: var(--gray);

          a {
            background-color: transparent;
          }

          &:hover,
          &:focus {
            background-color: var(--grayDeepDark);
          }
        }

        &.tweet__likes,
        &.tweet__replies {
          @extend .tweet__flex;

          &:hover,
          &:focus {
            color: var(--gray);
          }
        }
      }
    }
  }
}

// 프로필 레이아웃
.profile {
  display: flex;
  padding: 0 1rem;
  margin-top: 2.5rem;
  justify-content: space-between;
  align-items: center;

  &__flex {
    display: flex;
    gap: 8px;
  }

  &__image {
    border-radius: 50%;
    width: 100px;
    height: 100px;
  }

  &__btn {
    @extend .button;
    background-color: var(--primary);

    &:hover,
    &:focus {
      background-color: var(--activegrayLight);
    }

    &--language {
      @extend .button;
      background-color: var(--gray);

      &:hover,
      &:focus {
        background-color: var(--grayDeepDark);
      }
    }
  }

  &__text {
    padding: 0 1rem;
    margin-top: 20px;
  }

  &__name {
    font-size: 16px;
    color: white;
    font-weight: 700;
    margin-bottom: 4px;
  }

  &__email {
    font-size: 14px;
    color: var(--grayText);
    margin-bottom: 4px;
  }
}
