.container {
  margin-bottom: 12px;
}

.container .wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.authInput {
  max-width: 400px;
  width: 100%;
  height: 100%;
  padding: 10px;
  border-radius: 9999px;
  border: 1px solid var(--tertiary);
  background-color: white;
  margin-bottom: 10px;
  font-size: 12px;
  text-align: center;
  font-size: 18px;
  transition: all 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.authInput::placeholder {
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.authSubmit {
  cursor: pointer;
  height: 50px;
  color: white;
  background: var(--primary);
}

.authSubmit:hover {
  background: var(--active);
}

.authError {
  max-width: 400px;
  text-align: center;
  font-size: 14px;
  color: var(--red);
  letter-spacing: -0.5px;
  margin: 10px 0 20px;
}

.container .wrapper .authInput.select {
  border: 1px solid var(--primary);
  caret-color: var(--primary);
  box-shadow: var(--primary) 0px 0px 0px 1px;
}

.separator {
  display: block;
  text-align: center;
  height: 40px;
  position: relative;
  background: transparent;
  font-size: 15px;
  width: 100%;
  max-width: 400px;

  &::before {
    content: "";
    position: absolute;
    top: 8px;
    left: 0;
    background-color: var(--grayLightSky);
    height: 1px;
    width: 45%;
  }
  &::after {
    content: "";
    position: absolute;
    top: 8px;
    right: 0;
    background-color: var(--grayLightSky);
    height: 1px;
    width: 45%;
  }
}

.authBtns {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 400px;
  gap: 12px;
  margin-bottom: 48px
}

.authBtn {
  border-radius: 20px;
  border: none;
  padding: 10px 0px;
  font-size: 12px;
  text-align: center;
  width: 195px;
  background-color: white;
  border: 1px solid var(--quaternary);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover,
  &:focus {
    border: 1px solid var(--tertiary);
    background-color: rgba(66, 133, 244, 0.04);
  }
}

.authBtn svg {
  margin-right: 6px;
  font-size: 16px;
}

@media screen and (max-width: 768px) {
  .container {
  }

  .container .wrapper {
    align-items: center;
  }
}
