.container {
  flex: 0 1 auto;
  position: relative;
  width: 275px;
  max-height: 100%;

  .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: sticky;
    top: 0;
    padding: 0 16px;
    width: 100%;
    height: 100vh;
    background: white;
    border-right: 1px solid var(--grayLight);

    /* 트위터 로고 */
    .leftMenu__logobox {
      display: flex;
      align-items: center;
      cursor: pointer;
      position: relative;
      padding-left: 12px;
      height: 60px;

      .leftMenu__logo {
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        position: relative;

        &::after {
          display: block;
          content: "";
          position: absolute;
          width: 40px;
          height: 40px;
          border-radius: 50%;
          z-index: -1;
          transition: all 0.2s;
        }

        svg {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 24px;
          height: 24px;
          color: var(--primary);
        }

        &:hover::after {
          background: var(--grayLightSkyHover);
        }
      }
    }

    /* 리스트 */
    .leftMenu__container {
      position: relative;
      margin-bottom: 24px;

      ul {
        li {
          display: flex;
          align-items: center;
          padding: 8px 0;
          user-select: none;

          b {
            font-weight: bold;
          }

          svg {
            margin-right: 15px;
            font-size: 24px;
          }

          .leftMenu__list {
            display: flex;
            align-items: center;
            font-size: 20px;
            border-radius: 50px;
            padding: 12px;
            transition: all 0.3s;

            &:hover {
              background-color: var(--grayLightSky);
            }
          }
        }
      }
    }
  }

  /* 유저 정보 */
  .leftMenu__user {
    border-radius: 9999px;
    cursor: pointer;
    padding: 12px;
    margin: 12px 0;
    position: relative;

    p {
      width: 100%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    &:hover {
      background-color: var(--grayLightSky);
    }

    .leftMenu__userInfo {
      display: flex;
      align-items: center;
      justify-content: center;
      user-select: none;
      transition: background-color 0.2s;

      .userInfo__name {
        margin: 0 12px;
        overflow: hidden;

        p:first-child {
          font-weight: bold;
          margin-bottom: 6px;
        }

        p:last-child {
          font-size: 14px;
          color: var(--active);
        }
      }

      .userInfo__etc {
        margin-left: auto;
        font-size: 20px;
      }
    }
  }

  .leftMenu__userInfo {
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    transition: background-color 0.2s;
  }

  .userInfo__profile {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .profile__image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: contain;
    border: 1px solid rgba(0, 0, 0, 0.1);
  }
}

/* 트윗하기 */
.leftMenu__tweet {
  display: flex;
  align-items: center;
  width: 100%;
  color: white;

  svg {
    display: none;
  }

  > div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 12px;
    min-width: 52px;
    min-height: 52px;
    background: var(--primary);
    box-shadow: 0px 5px 5px var(--quaternary);
    border-radius: 9999px;
    transition: all 0.2s;
    user-select: none;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;

    &:hover {
      background: var(--active);
    }
  }
}

@media screen and (max-width: 1264px) {
  .container {
    width: 88px;

    .wrapper {
      .leftMenu__logobox {
        padding: 0;
      }
    }

    .leftMenu__user {
      display: flex;
      justify-content: center;
      align-items: center;

      &:hover {
        background-color: transparent;
      }
    }

    .leftMenu__userInfo {
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 52px;
      height: 52px;
      padding: 12px;

      &:hover {
        background-color: var(--gray);
      }
    }
  }

  .container .wrapper .leftMenu__logobox,
  .leftMenu__container ul li,
  .leftMenu__tweet {
    justify-content: center;
  }

  .leftMenu__container {
    ul {
      li {
        .leftMenu__list {
          span {
            display: none;
          }
        }

        svg {
          margin-right: 0 !important;
        }
      }
    }
  }

  .leftMenu__tweet {
    span {
      display: none;
    }

    svg {
      display: block;
    }
  }

  .userInfo__name,
  .userInfo__etc {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .container {
    width: 68px;
  }
}

@media screen and (max-width: 500px) {
  .container {
    position: fixed;
    overflow: hidden;
    width: 100vw;
    height: 54px;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    border-top: 1px solid var(--grayLight);

    .wrapper {
      position: relative;
      padding: 0;

      .leftMenu__category {
        position: relative;
        .leftMenu__container {
          margin: 0;
          width: 100vw;
          height: 53px;

          ul {
            display: flex;
            height: 100%;

            li {
              flex: 1 1 auto;

              .leftMenu__list {
                padding: 8px;
              }

              &:nth-child(4) {
                // display: none;
              }

              &:nth-child(5) {
                .leftMenu__list {
                  padding: 0;
                }

                svg {
                  display: none;
                }

                /* 프로필 아이콘 */
                .leftMenu__list {
                  .userInfo__profileHidden {
                    .userInfo__profile {
                      width: 40px;
                      height: 40px;

                      .profile__image {
                        width: 30px;
                        height: 30px;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  .container .wrapper .leftMenu__category .leftMenu__logobox,
  .container .wrapper .leftMenu__category .leftMenu__tweet,
  .container .wrapper .leftMenu__user {
    display: none;
  }
}
